**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.expo

src/frontend/
tests/
grafana/
e2e/
deploy/
docs/
.github/

*.md
*.yml
!src/backend/**
!Directory.Build.props
!Directory.Packages.props

**/*.user
**/*.suo
**/launchSettings.json
**/appsettings.Development.json
